@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-colors-1: #004995;
  --color-bc-1: #154a8f;
  --color-bc-2: #2561ad;
  --color-bc-3: #92a3c4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-bc-1);
  color: var(--foreground);
  font-family: var(--font-primary-font), sans-serif;
}

@keyframes flip-in {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes flip-out {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-90deg);
  }
}

.flip-container {
  perspective: 1000px;
}

.flip-image {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-image.flipping {
  animation: flip-out 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.flip-image.flipping-in {
  animation: flip-in 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
